<div id="row">
  <div class="medium-10 columns">
    <h3>About Moneyable</h3>
    <p>Moneyable is a web application designed to help manage your finances and keep on top of where your money is going. With Moneyable, you will have a quicker and more convenient way to track your daily finances. All features of Moneyable are designed to be quick, clean, intuitive, and easy to use.</p>
  </div>
</div>

<style>
  h3 { color: #109618; font-weight: bold; }
</style>