<div class="row">
  <div class="medium-10 columns">
    <h3>Future Updates & Enhancements</h3>

    <ul>

      <div class="medium-4 columns">
        <li>Refactoring</li>
        <li>Code cleanup</li>
        <li>Datepicker</li>
        <li>More icons</li>
        <li>'Smart' transactions</li>
        <li>Move transactions</li>
      </div>

      <div class="medium-4 columns">
        <li>Schedule transactions</li>
        <li>Recurring transactions</li>
        <li>Transfer transactions</li>
        <li>Pagination</li>
        <li>Attach receipt photos</li>
        <li>Custom categories/subcategories</li>
      </div>

      <div class="medium-4 columns">
        <li>Contact form</li>
        <li>In-line editing</li>
        <li>Export data</li>
        <li>In-depth reports and graphs</li>
        <li>Budgets</li>
        <li>Currencies</li>
      </div>
    </ul>
  </div>
</div>

<style>
  h3 { color: #109618; font-weight: bold; }
</style>