<div class="row">
  <div class="medium-10 columns">
    <h2>Edit Transaction</h2>

    <%= simple_form_for @transaction do |f| %>
    <%= render partial: 'form', locals: {f: f} %>
    <% end %>
  </div>
</div>