<div class="row">
  <div class="medium-10 columns">
    <h3>New Transaction</h3>

    <%= simple_form_for([@account, @transaction]) do |f| %>
    <%= render partial: 'form', locals: {f: f} %>
    <% end %>
  </div>
</div>