$('#transactions').empty();
<%# @transactions.each do |transaction| %>
  <% if @transactions.empty? %>
    $("<p>No transactions found.</p>").prependTo('#transactions');
  <% else %>
    $("<%= escape_javascript(render 'all_transactions') %>").prependTo('#transactions');
  <% end %>
<%# end %>